<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Products App</title>
</head>

<body>
    <h2 class="text-center">A very simple Product Management App</h2>
    <h3 class="text-center">with REST APIs</h3>
    <h3 class="text-center">created with <b>Node.js</b> and <b>Express.js</b> </h3>
    <h3 class="text-center"> with Love, by <b>Mohammad Shagor Khan</b></h3>
    <div class="text-center"> <a href="https://www.linkedin.com/in/mohammad-shagor-1a271120b">LinkedIn</a> | <a href="https://github.com/DeepDiverGuy">Github</a></div>
    <hr />
    <div class="container mt-4">
    {{{body}}}
    </div>
    <br />
    <br />
    <br />
</body>

</html>