<h3 class="text-center mt-5 mb-3"> Technical Informations about this website</h3>

<ul class="list-group">
  <li class="list-group-item">Node.js and Express.js is currently on play in the backend</li>
  <li class="list-group-item">Express-Handlebars is used for the view engine and rendering templates</li>
  <li class="list-group-item">Bootstrap is used for a little styling</li>
  <li class="list-group-item">Full control of CRUD operations using the website</li>
  <li class="list-group-item">Has a set of eplicit <a href="/api_reference">APIs</a> for Crud operations</li>
</ul>