<div class="text-center mt-2 mb-2"> <a href="/api_reference" class="btn btn-primary">Visit API Reference Page</a> </div>
<br />
<hr />
<br />
<form action="/delete/{{id}}" method="POST" class="mb-4">
    <div class="form-group">
        Are you sure you want to delete this product from your site? I mean, nobody can't buy it then.
    </div>
    <input type="submit" value="Delete Product, I don't care!" class="btn btn-primary btn-block">
</form>